{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore",
        "imports": "always-multiline",
        "objects": "always-multiline"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["tests/**", "*.test.js"]
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "react/jsx-filename-extension": "off"
  }
}
